/* CSS Document */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
    background-image: none !important
}
.lineover {
	background-image: url(../images/bgbottommenu.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
h1.nmr {font-size: 13px;
    color: #385EA3;
    font-weight: bold;
    font-family: Verdana;
    background-image: url(../images/simbol_subtitlu.jpg);
    background-repeat:no-repeat;
    text-indent:0.7cm;
    margin-bottom: 18px;
}

h2 {font-size: 12px; font-weight: bold; font-family: Verdana;
 }

a {color: #385EA3; text-decoration:none; font-weight: bold;}
a:link {color: #385EA3; text-decoration:none; font-weight: bold;}
a:visited {color: #385EA3; text-decoration:none; font-weight: bold;}
a:active {color: #385EA3; text-decoration:none; font-weight: bold;}
a:hover {color: #385EA3; text-decoration:underline; font-weight: bold;}


/* Chemical table formatting, coming out of the database */


.chemical {}
.chemical table {}
.chemical th {color:#FFFFFF; }
.chemical td { }
.chemicalover td { }
.chemicalhover td { }


/* Style used for the links in the table, usualy at the level of the name and the molecular formula */
.chemical a:link {font-weight: normal; color: #000000; font-family: Verdana; font-size: 11px;}
.chemical a:visited {font-weight: normal; color: #00AAAA; font-family: Verdana;  font-size: 11px;}
.chemical a:active {font-weight: normal; color: #00AA00; font-family: Verdana; font-size: 11px; }
.chemical a:hover {font-weight: normal; color: #00AA00; font-family: Verdana;  font-size: 11px;}

/* Style used for the links in the header of the table (for sorting by column) */
.sort a:link {color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 11px;}
.sort a:visited {color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 11px;}
.sort a:active {color: #FFFFFF;font-family: Verdana; font-weight: bold; font-size: 11px; }
.sort a:hover {color: #FFFFFF; text-decoration: underline; font-size: 11px;}

/* Style used for the links in the chemical table for "order" or "Get offer" */
.order a {font-size: 10px; color: #4188D6; text-decoration: none;}
.order a:link {font-size: 10px; color: #4188D6; text-decoration: none;}
.order a:visited {font-size: 10px; color: #4188D6; text-decoration: none;}
.order a:active {font-size: 10px; color: #4188D6; text-decoration: none;}
.order a:hover {font-size: 10px; color: #0000EE; text-decoration: underline;}

/* Style used for the small link to go to the top of the page */
.gototop { font-weight: normal; color: #1E2C5D; font-size:10px}
.gototop a:link {font-weight: normal; color: #1E2C5D; font-size:10px}
.gototop a:visited {font-weight: normal ;color: #1E2C5D; font-size:10px}
.gototop a:active {font-weight: normal;color: #1E2C5D; font-size:10px }
.gototop a:hover {font-weight: normal;color: #1E2C5D; font-size:10px }

.results {font-weight: normal; color: #000000; font-size:10px; }

/* Style used for the links in the bottom or top of the table for the next - prev */
.nextprev { font-weight: normal; color: #1E2C5D; font-size:10px;}
.nextprev a:link {font-weight: normal; color: #1E2C5D; font-size:10px;}
.nextprev a:visited {font-weight: normal ;color: #1E2C5D; font-size:10px;}
.nextprev a:active {font-weight: normal;color: #1E2C5D; font-size:10px; }
.nextprev a:hover {font-weight: normal;color: #1E2C5D;  font-size:10px;}




.textheader{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
text-decoration:none;
color:#000000;
}    
.simpletext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	font-size: 11px;
	color: #000000;
}
.menu1{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#000000;
}

.menu{
	list-style-type:none;
	font-weight:bold;
	margin:0 0 0 5px;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    margin-bottom: 12px;
}
.menu li{
    display:inline;
    padding-right:10px;
}
.menu li a:hover{
    color:#FF4800;
}

ul.menu li.current a {
    color: black !important;
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

p.explanations {
    font-size: 12px;
}

.menu1 a:link {font-family:Arial, Helvetica, sans-serif;font-size:11px;font-style:normal;font-weight:bold;text-decoration:none;color:#000000;}
.menu1 a:visited {font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#000000;}
.menu1 a:active {font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#FF4800;}
.menu1 a:hover {font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#FF4800;}

.menu2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.menu2 a:link {font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;}
.menu2 a:visited {font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;}
.menu2 a:active {font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;}
.menu2 a:hover {font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: bold;
	text-decoration:none;}

.textcopyright{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:normal;
text-decoration:none;
color:#404040;
}	

.rightmenutitle{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#FFFFFF;
}
.go{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
text-decoration:none;
color:#000000;
}
.go a:link 
{font-family:Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
text-decoration:none;
color:#000000
}
.readmore{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
font-weight:bold;
text-decoration:none;
color:#000000;
}	
.motto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

.jipcontent{
	border:1px solid #aaa;
}
.jipedit{
	border:1px solid #147414;
	background-color:#F6DD77;
	font-size:10px;
}

td .left {
    background: url(../images/rigla_stanga.gif) repeat-y left;
}

td .right {
    background: url(../images/rigla_dreapta.jpg) repeat-y right;
}

td .header-right {
    background: url("../images/colt_dreapta_sus.jpg") right top no-repeat;
}

td .header-left {
    background:url("../images/colt_stanga_sus.jpg") top left no-repeat;
}

td .footer-left {
    background: url(../images/colt_stanga_jos.jpg) no-repeat bottom left;
}

td .footer-bottom {
    background: url(../images/rigla_jos.jpg) repeat-x bottom;
}
td .footer-right {
    background: url(../images/colt_dreapta+jos.jpg) no-repeat;
}

td .header-link {
    background:url("../images/colt_butoane_sus.jpg") #FFA37F no-repeat bottom left;
}

td .logo {
    background: url("../images/logo.jpg") no-repeat top left;
    width: 200px;
    height: 55px;
}

td.menu {
    background: url("../images/bgtablemenu.gif")
}

.content {
    padding: 1px 10px 0px;
    font-size: 12px;
}

.epfl-logo {
    background: url(../images/epfl.svg) no-repeat;
    background-size: 115px;
    background-position:right;
    max-width: 180px;
    cursor: pointer;
}

.univalle-logo {
    background: url(../images/univalle.jpg) no-repeat;
    background-size: 45px;
    background-position:center;
    max-width: 100px;
    cursor: pointer;
}

.isic-links {
    width:420px;
}

#breadcrumbs {
    text-align: right;
}

#breadcrumbs li {
    display: inline;
    padding-right: 12px;
    position: relative;
}

#breadcrumbs a {
    padding-right: 12px;
    background: url(../images/separator.png) right no-repeat;
    font-size: 15px;
}

#breadcrumbs a.last{
    background: none;
}

.local-color-text {
    color: #007ba5;
}

#isic-title {
    font-family: Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 32px;
    letter-spacing: .06em;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0;
    text-transform: uppercase;
    text-align: right;
}

#isic-title span {
    padding: 0; margin: 0;
}

#forms form {
    margin-top: 0px;
    padding-top: 0px;
}

/* ============ Menu styles ===================*/
#cssmenu {
    position: relative;
    height: 44px;
    background: #2b2f3a;
    width: auto;
}
#cssmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}
#cssmenu > ul {
    position: relative;
    display: block;
    background: white;
    width: 100%;
    z-index: 500;
}

#cssmenu a:visited {

}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
#cssmenu > ul > #menu-button {
    display: none;
}
#cssmenu ul li a {
    display: block;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}
#cssmenu > ul > li > a {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    color: #385EA3;
    text-transform: uppercase;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -ms-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

#cssmenu > ul li.current > a {
    color: #222222;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 32px;
}
#cssmenu > ul > li:hover > a {
    color: #222222;
}
#cssmenu li.has-sub::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}
#cssmenu > ul > li.has-sub::after {
    right: 10px;
    top: 20px;
    border: 5px solid transparent;
    border-top-color: #7a8189;
}
#cssmenu > ul > li:hover::after {
    border-top-color: #ffffff;
}
#indicatorContainer {
    position: absolute;
    height: 12px;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    z-index: -1;
}
#pIndicator {
    position: absolute;
    height: 0;
    width: 100%;
    border: 12px solid transparent;
    border-top-color: #2b2f3a;
    z-index: -2;
    -webkit-transition: left .25s ease;
    -moz-transition: left .25s ease;
    -ms-transition: left .25s ease;
    -o-transition: left .25s ease;
    transition: left .25s ease;
}
#cIndicator {
    position: absolute;
    height: 0;
    width: 100%;
    border: 12px solid transparent;
    border-top-color: #2b2f3a;
    top: -12px;
    right: 100%;
    z-index: -2;
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    top: 70px;
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
}
#cssmenu ul ul ul {
    top: 37px;
    padding-left: 5px;
}
#cssmenu ul ul li {
    position: relative;
}
#cssmenu > ul > li:hover > ul {
    left: auto;
    top: 44px;
    opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
    opacity: 1;
}
#cssmenu ul ul li:hover > ul {
    left: 170px;
    top: 0;
    opacity: 1;
}
#cssmenu.align-right ul ul li:hover > ul {
    left: auto;
    right: 170px;
    top: 0;
    opacity: 1;
    padding-right: 5px;
}
#cssmenu ul ul li a {
    width: 130px;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 20px;
    font-size: 12px;
    color: #9ea2a5;
    background: #ffffff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
    text-align: right;
}
#cssmenu ul ul li:hover > a {
    background: #f2f2f2;
    color: #8c9195;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
    border-bottom: 0;
}
#cssmenu > ul > li > ul::after {
    content: '';
    border: 6px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #ffffff;
    position: absolute;
    top: -12px;
    left: 30px;
}
#cssmenu.align-right > ul > li > ul::after {
    left: auto;
    right: 30px;
}
#cssmenu ul ul li.has-sub::after {
    border: 4px solid transparent;
    border-left-color: #9ea2a5;
    right: 10px;
    top: 12px;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub::after {
    border-left-color: transparent;
    border-right-color: #9ea2a5;
    right: auto;
    left: 10px;
}
#cssmenu ul ul li.has-sub:hover::after {
    border-left-color: #ffffff;
    right: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#cssmenu.align-right ul ul li.has-sub:hover::after {
    border-right-color: #ffffff;
    border-left-color: transparent;
    left: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: auto;
    }
    #cssmenu.align-center ul {
        text-align: left;
    }
    #cssmenu.align-right > ul > li {
        float: none;
    }
    #cssmenu ul {
        width: auto;
    }
    #cssmenu .submenuArrow,
    #cssmenu #indicatorContainer {
        display: none;
    }
    #cssmenu > ul {
        height: auto;
        display: block;
    }
    #cssmenu > ul > li {
        float: none;
    }
    #cssmenu li,
    #cssmenu > ul > li {
        display: none;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul,
    #cssmenu ul > li:hover > ul,
    #cssmenu ul ul > li:hover > ul,
    #cssmenu.align-right ul ul,
    #cssmenu.align-right ul ul ul,
    #cssmenu.align-right ul > li:hover > ul,
    #cssmenu.align-right ul ul > li:hover > ul {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        padding-left: 0;
        padding-right: 0;
        right: auto;
    }
    #cssmenu ul .has-sub::after {
        display: none;
    }
    #cssmenu ul li a {
        padding: 12px 20px;
    }
    #cssmenu ul ul li a {
        border: 0;
        background: none;
        width: auto;
        padding: 8px 35px;
    }
    #cssmenu.align-right ul ul li a {
        text-align: left;
    }
    #cssmenu ul ul li:hover > a {
        background: none;
        color: #8c9195;
    }
    #cssmenu ul ul ul a {
        padding: 8px 50px;
    }
    #cssmenu ul ul ul ul a {
        padding: 8px 65px;
    }
    #cssmenu ul ul ul ul ul a {
        padding: 8px 80px;
    }
    #cssmenu ul ul ul ul ul ul a {
        padding: 8px 95px;
    }
    #cssmenu > ul > #menu-button {
        display: block;
        cursor: pointer;
    }
    #cssmenu #menu-button > a {
        padding: 14px 20px;
    }
    #cssmenu ul.open li,
    #cssmenu > ul.open > li {
        display: block;
    }
    #cssmenu > ul.open > li#menu-button > a {
        color: #fff;
        border-bottom: 1px solid rgba(150, 150, 150, 0.1);
    }
    #cssmenu ul ul::after {
        display: none;
    }
    #cssmenu #menu-button::after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #7a8189;
        border-bottom: 2px solid #7a8189;
        right: 20px;
        top: 15px;
    }
    #cssmenu #menu-button::before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #7a8189;
        right: 20px;
        top: 25px;
    }
    #cssmenu ul.open #menu-button::after,
    #cssmenu ul.open #menu-button::before {
        border-color: #fff;
    }
}
